/* --------- Global style */

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: blue;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0;
}

/*--Header and Footer--*/

header{
    text-align: center;
    height: 50px;
}

footer {
    position: absolute;
    width: 100%;
    min-height: 50px;
    text-align: center;
}

.game-area {
    width: 80%;
    margin: auto;
    text-align: center;
}